body{
    font-family: 'arial' , sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 72 pt;

    color: darkblue;
    color:lightblue ;
    color:#ffffff ;
    color: #000; ;
    color:rgb(141, 17, 218) ;
    background-color: aqua;


}